<table>
    <thead>
    <tr>
        <th>
            Datum
        </th>
        <th>
            Betrag
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range .payments}}
        <tr>
            <td>
                {{.PaymentTime | formatAsTime}}
            </td>
            <td>
                {{.Amount | formatAsPrice}}
            </td>
            <td>
                <form action="/delete-payment/{{$.userID}}" method="post">
                    <input type="hidden" name="_csrf" value="{{ $.csrftoken }}" />
                    <button class="btn waves-effect waves-light red" name="delete_payment" value="{{.Model.ID}}">
                        <i class="material-icons">delete</i>
                    </button>
                </form>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>