<table>
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Getränk
            </th>
            <th>
                Preis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .purchases}}
            <tr>
                <td>
                    {{.PurchaseTime | formatAsTime}}
                </td>
                <td>
                    {{.Product.Name}}
                </td>
                <td>
                    {{.Product.Price | formatAsPrice}}
                </td>
                <td>
                    <form action="/delete-purchase/{{$.userID}}" method="post">
                        <button class="btn waves-effect waves-light red" name="delete_purchase" value="{{.Model.ID}}">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>
<ul class="pagination center-align">
    {{ range .purchasePaginator }}
        <li class="{{.Class}}"><a href="{{.Href}}">{{.Page}}</a></li>
    {{ end }}
</ul>