<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Hello Gin!</h1>

<h1>Neues Getränk kaufen</h1>
{{range .drinks}}
    <form action="/purchase/{{$.userId}}" method="post">
        <button class="btn btn-primary" type="submit" name="drink" value="{{.Model.ID}}">{{.Name}}</button>
    </form>
{{end}}

{{range .purchases }}
    <h2>{{.Product.Name}}</h2>
{{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}